
.maincontent {
    width: 960px;
    margin: 0 auto;
    padding: 0;
    line-height: 150%;
}

h1 {
    color: white;
    background-color: teal;
    padding: 20px;
    display: inline-block;
}

li {
    display: inline-block;
    align-items: right;
}

/* .footer {
    text-align: center;
    height: 100%;
} */