h1 {
    color: white;
    background-color: #4aaaa5;
    float: left;
    overflow: auto;
    margin-top: 0;
    margin-bottom: 20;
    padding: 20px;
    widows: 20%;
    line-height: 150%;
}

ul{
    widows: 20%;
    float: right;
}
li {
    /*background-color: yellow;*/
    display: inline;
    padding: 10px;
    margin: 20px;
    clear: both;
}

h2 {
    margin-top: 20px;
    margin-bottom: 20px;
    clear: both;
    color: #4aaaa5;
}

img {
    width: 200px;
    height: 200px;
    float: left;
    clear: both;
    margin-right: 20px;
    clear: both;
}

#Copyright {
    clear: both;
    text-align: center;
    background-color: #666666;
    color: white;
    margin: auto;
    border: 20px;
}



