
.content {
    width: 960px;
    margin: 100px auto;
    border: 5px;
}

header h1{
    background-color: #4aaaa5;
    float: left;
    margin: 0;
    padding: 15px;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

.links li {
    display: inline;
    text-align: center;
    float: right;
    padding: 10px;
    text-decoration: none;
}

.profile-image {
    float: left;
}

.footer {
    text-align: center;
    font-size: 12px;
}